/* Estilo para el título */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed1d24;
    padding: 20px 10px;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0;
    text-transform: uppercase;
    text-align: center; /* Alinea todos los títulos al centro */
}

/* Estilo para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ed1d24;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ed1d24;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ed1d24;
    color: white;
}

/* Estilo para la descripción de Spider-Man */
.character-description {
    text-align: center; /* Alinea el texto de la descripción al centro */
    margin: 20px; /* Añade margen para separar la descripción de otros elementos */
}

/* Estilo para la imagen de Spider-Man */
.character-image {
    max-width: 20%; /* Hacer que la imagen ocupe todo el ancho disponible */
    display: block;
    margin: 0 auto; /* Alinea la imagen al centro horizontalmente */
}

