/* Estilo para el título */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ed1d24;
    padding: 20px 10px;
    margin: 0;
}

h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

/* Estilo para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.dropbtn {
    background-color: #ed1d24;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ed1d24;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ed1d24;
    color: white;
}

/* Estilo para Spider-Man */
.character-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.character-image-container {
    max-width: 20%;
    display: block;
    margin-right: 20px;
}

.character-image {
    max-width: 100%;
}

.character-info {
    flex-grow: 1;
}

.character-description {
    margin-top: 20px;
}

.additional-info {
    margin-top: 20px;
}

/* Estilo para Marvel */
.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character-card {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

/* Estilo para Spider-Man */
.spider-image {
    max-width: 20%;
    border: 2px solid #ed1d24;
    border-radius: 10px;
}


